/**{
	background-color: rgba(0,0,0,1);
}*/
body{
	background: #eee;
}
h1{
	text-align: center;
}
.container {
	width: 840px;
	height: 600px;
	margin: 40px auto;
	position: relative;
}
.container img{
	width: 240px;
	height: 180px;
	padding: 10px 10px 15px;
	background: #fff;
	border: 1px solid #ddd;
	z-index: 1;
	transition: all 1.5s;
	

}
img:hover {
	-webkit-transform: rotate3d(0,0,1,0);
	-moz-transform: rotate3d(0,0,1,0);
	-o-transform: rotate3d(0,0,1,0);
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);

	box-shadow: 10px 20px 30px #CCC;
	z-index: 2;

}
#img1{
	position: absolute;
	-webkit-transform: rotate3d(0,0,1,45deg);
	-moz-transform: rotate3d(0,0,1,45deg);
	-o-transform: rotate3d(0,0,1,45deg);
}
#img2{
	position: absolute;
	-webkit-transform: rotate3d(0,0,1,-65deg);
	-moz-transform: rotate3d(0,0,1,-65deg);
	-o-transform: rotate3d(0,0,1,-65deg);
	left: 240px; 
}